{% extends 'base.html'%}
{% block content %}

    {% if notfound %}
        <h2 style="opacity: 0.7;color:white">{{notfound}}</h2>
    {% else %}
        <div class="card" style="width: 18rem;opacity:0.7;color:white">
            <img src="{{username.avatar_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class = "card-title">{{username.name}}</h5>
                <p class="card-text">location: {{username.location}}</p>
                <p class="card-text">public_repos: {{username.public_repos}}</p>
                <p class="card-text">public_gists: {{username.public_gists}}</p>
                <p class="card-text">followers: {{username.followers}}</p>
                <a href="{{username.html_url}}" class = "btn btn-primary">visit</a>
            </div>
        </div>
    {% endif %}

{% endblock %}